body {
    font-family: "Lato", sans-serif;
    color: #222;
    background:#f7f7f7;
    line-height: 1.4;
    font-size: 1rem;
  }
/* Global */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: 0.4rem;
}
h1 {
  font-size: 3.3rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
a {
  text-decoration: none;
}

/* end Global */
.header{
    min-height: 100vh;
    background: #3fd0d4;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner-container{
  text-align: center;
  color:#fff;
  padding: 0 2rem;
}
.banner-title{
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    line-height:1.5rem;
    
}
.content-divider {
    height: 0.5rem;
    background: linear-gradient(
      to left,
      rgba(63, 208, 212, 0.7),
      rgba(0, 0, 0, 0.7),
      rgba(63, 208, 212, 0.7)
    );
    
  }
  /*end of content divider */
.banner-text{
    width: 85%;
    margin: 0 auto;
    margin-bottom:2rem;
   
}

.banner-btn{
    text-transform: uppercase;
    letter-spacing:0.6rem;
    color:#fff;
    border: 2px solid #fff;
    padding: 0.9rem 1.6rem;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s linear;

}

.banner-btn:hover{
    background: #f7f0f0;
    color:#116366;
}

@media screen and (min-width:572px){
    .header{
    background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)),url('./images/main.jpeg') center/cover no-repeat fixed;
    }
}

.section{
  padding:5rem 0rem;  
  border: 2px solid red;
}

.title-wrapper {
    margin-bottom: 2rem;
  }

  .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.6rem;
    letter-spacing: 0.5rem;
  }
  .subtitle {
    color: #3fd0d4;
  }
  .section-center {
    width: 75vw;
    margin: 4rem auto 2rem auto;
    max-width: 1170px;
  }

  .about-img, .about-info{
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
    align-self: center;
  }
  @media screen and (min-width: 1170px) {
    .about-img::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0.5rem solid rgb(0, 225, 255);
      top: -1.5rem;
      left: -1.5rem;
    }
  }
    
  .about-img {
    position: relative;
  }
  .about-photo {
    position: relative;
  }